*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Markazi";
    src: url(../Fotos/Fuentes/MarkaziText-Bold.ttf);
}
@font-face {
    font-family: "Alegreya";
    src: url(../Fotos/Fuentes/AlegreyaSansSC-Bold.ttf);
}
body{
    background: rgb(20,101,24);
background: linear-gradient(90deg, rgba(20,101,24,1) 0%, rgba(253,255,253,0.9724264705882353) 48%, rgba(35,120,48,1) 100%);
}
header{
    font-family: 'Markazi';
    font-size: 2rem;
    text-align: center;
    padding: 15px;
    margin: 5px;
    }
.escudo{
    width: 300px;
    position: relative;
    right: 20rem;
    bottom: 3rem;
}
.plantel{
    position: relative;
    right: 11rem;
}
div.superior{
    padding: 1rem;
    background-color: black;
    opacity: .7;
}
nav{
    text-align: center;
}
.menu{
    background-color: rgb(98, 151, 100);
    font-size: 25px;
    padding: 35px;
    margin: 15px auto;
    width: 80%;
    list-style-type: none;
}
.menu li{
    display: inline-block;
    position: relative;
    text-align: center;
}
.menu li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 20px;
}
.portada{
    text-align: center;
    padding: 15px;
    margin: 5;    
}
.noticias{
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-size: 2.5rem;
}
.noticias1{
    display: inline-block;
    padding: 5px;
    margin: 10px;
    height: 600px;
    align-items: center;
    overflow: auto;
}
h5{
    font-family: "alegreya";
    line-height: 1.4;
    font-size: 1.5rem;
    padding: 10px;
    margin: 5px;
    width: 600px;
}
.irinicio{
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-size: 15px;
    background-color: greenyellow;
    width: 70px;
    position: relative;
    left: 46%;    
}
footer{
    text-align: center;
    font-size: 20px
}
h2{
    font-size: 4rem;
    text-align: center;
    padding: 1rem;
}
h3{
    font-family: "alegreya";
    font-size: 3rem;
}
.tfotos{
    text-align: center;
}
img.f1{
    border: double 3px black;
    margin: 30px;
    padding: 3px;
    opacity: .7;
}
.galeria1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-evenly;
}
img.f1:hover{
    opacity: 1;
    border: solid 3px black;
}
table{
    padding: 15px;
    margin: 5px;
    text-align: center;
    font-size: 2rem;
    border-color: black;
}
.tabla{
    position: relative;
    left: 34%;
}
.retro{
    text-align: center;
}
.history{
    text-align: center;
    padding: px;
    margin: 10px;
    height: 750px;
    width: 1000px;
    position: relative;
    left: 70%;
    overflow: auto;
}
form{
    padding: 15px;
    margin: 10px;
     font-size: 25px;
    border-color: rgb(0, 0, 0);
    width: 500px;
    position: relative;
    left: 37%;
}
td{
    padding: 10px;
    margin: 2px;
}