* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  font-family: 'Markazi';
  font-size: 2rem;
  text-align: center;
  padding: 1px;
  margin: 5px; }
  header div.superior {
    padding: 1rem;
    background-color: black;
    opacity: .7; }
  header .escudo {
    width: 500px;
    align-items: center; }

nav {
  text-align: center; }

.menu {
  background-color: #629764;
  font-size: 25px;
  padding: 5px;
  margin: 10px auto;
  width: 85%;
  list-style-type: none; }

.men li {
  display: inline-block;
  position: relative;
  align-items: center;
  font-size: 25px; }

.men li a {
  color: black;
  text-decoration: none;
  padding: 10px;
  background-color: #97d697;
  border-radius: 30%; }

form.cont {
  padding: 15px;
  margin: 10px;
  font-size: 25px;
  border-color: black;
  border-width: 5px;
  width: 500px;
  position: relative;
  left: 37%; }

@media only screen and (max-width: 530px) {
  .men li a {
    color: black;
    text-decoration: none;
    padding: 5px;
    background-color: #97d697;
    border-radius: 30%;
    font-size: 15px; }
  img.escudo {
    width: 250px; }
  img.portada {
    width: 200px;
    padding: 5px; } }

header {
  font-family: 'Markazi';
  font-size: 2rem;
  text-align: center;
  padding: 1px;
  margin: 5px; }
  header div.superior {
    padding: 1rem;
    background-color: black;
    opacity: .7; }
  header .escudo {
    width: 500px;
    align-items: center; }

nav {
  text-align: center; }

.menu {
  background-color: #629764;
  font-size: 25px;
  padding: 5px;
  margin: 10px auto;
  width: 85%;
  list-style-type: none; }

.men li {
  display: inline-block;
  position: relative;
  align-items: center;
  font-size: 25px; }

.men li a {
  color: black;
  text-decoration: none;
  padding: 10px;
  background-color: #97d697;
  border-radius: 30%; }

.tfotos {
  text-align: center; }

.galeria1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly; }
  .galeria1 img.f1 {
    border: double 3px black;
    margin: 30px;
    padding: 3px;
    opacity: .7; }
  .galeria1 img.f1:hover {
    opacity: 1;
    border: solid 3px black; }

@media only screen and (max-width: 530px) {
  .men li a {
    color: black;
    text-decoration: none;
    padding: 5px;
    background-color: #97d697;
    border-radius: 30%;
    font-size: 15px; }
  img.escudo {
    width: 250px; }
  img.portada {
    width: 200px;
    padding: 5px; } }

header {
  font-family: 'Markazi';
  font-size: 2rem;
  text-align: center;
  padding: 1px;
  margin: 5px; }
  header div.superior {
    padding: 1rem;
    background-color: black;
    opacity: .7; }
  header .escudo {
    width: 500px;
    align-items: center; }

nav {
  text-align: center; }

.menu {
  background-color: #629764;
  font-size: 25px;
  padding: 5px;
  margin: 10px auto;
  width: 85%;
  list-style-type: none; }

.men li {
  display: inline-block;
  position: relative;
  align-items: center;
  font-size: 25px; }

.men li a {
  color: black;
  text-decoration: none;
  padding: 10px;
  background-color: #97d697;
  border-radius: 30%; }

.retro {
  text-align: center; }
  .retro .history {
    text-align: justify;
    padding: 5px;
    margin: auto;
    height: 750px;
    width: 1000px;
    overflow: auto;
    font-size: 1.7rem;
    font-family: "Alegreya"; }
  .retro .rfoto {
    text-align: center; }

@media only screen and (max-width: 530px) {
  .men li a {
    color: black;
    text-decoration: none;
    padding: 5px;
    background-color: #97d697;
    border-radius: 30%;
    font-size: 15px; }
  img.escudo {
    width: 250px; }
  img.portada {
    width: 200px;
    padding: 5px; }
  img.rfoto {
    width: 350px; } }

header {
  font-family: 'Markazi';
  font-size: 2rem;
  text-align: center;
  padding: 1px;
  margin: 5px; }
  header div.superior {
    padding: 1rem;
    background-color: black;
    opacity: .7; }
  header .escudo {
    width: 500px;
    align-items: center; }

nav {
  text-align: center; }

.menu {
  background-color: #629764;
  font-size: 25px;
  padding: 5px;
  margin: 10px auto;
  width: 85%;
  list-style-type: none; }

.men li {
  display: inline-block;
  position: relative;
  align-items: center;
  font-size: 25px; }

.men li a {
  color: black;
  text-decoration: none;
  padding: 10px;
  background-color: #97d697;
  border-radius: 30%; }

table {
  padding: 10px;
  margin: auto;
  text-align: center;
  font-size: 2rem;
  border-color: black; }

@media only screen and (max-width: 530px) {
  .men li a {
    color: black;
    text-decoration: none;
    padding: 5px;
    background-color: #97d697;
    border-radius: 30%;
    font-size: 15px; }
  img.escudo {
    width: 250px; }
  img.portada {
    width: 200px;
    padding: 5px; } }

@font-face {
  font-family: "Markazi";
  src: url(../Fotos/Fuentes/MarkaziText-Bold.ttf); }

@font-face {
  font-family: "Alegreya";
  src: url(../Fotos/Fuentes/AlegreyaSansSC-Bold.ttf); }

body {
  background: #146518;
  background: linear-gradient(90deg, #146518 0%, rgba(253, 255, 253, 0.972426) 48%, #237830 100%); }

.container {
  display: grid;
  grid-template-columns: 0.1fr 1.6fr 1.6fr 0.1fr;
  grid-template-rows: 0.5fr 1.2fr 1.2fr 0.5fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header header" ". menu menu ." ". menu menu ." "footer footer footer footer"; }

.header {
  grid-area: header; }

.footer {
  grid-area: footer; }

.menu {
  grid-area: menu; }

.container header {
  font-family: 'Markazi';
  font-size: 2rem;
  text-align: center;
  padding: 1px;
  margin: 5px; }
  .container header div.superior {
    padding: 1rem;
    background-color: black;
    opacity: .7; }
  .container header .escudo {
    width: 500px;
    align-items: center; }

.container nav {
  text-align: center; }

.container .menu {
  background-color: #629764;
  font-size: 25px;
  padding: 5px;
  margin: 10px auto;
  width: 85%;
  list-style-type: none; }
  .container .menu .men li {
    display: inline-block;
    position: relative;
    align-items: center;
    font-size: 25px; }
  .container .menu .men li a {
    color: black;
    text-decoration: none;
    padding: 10px;
    background-color: #97d697;
    border-radius: 30%; }
  .container .menu .portada {
    text-align: center;
    padding: 15px;
    margin: 5; }
  .container .menu .noti {
    display: inline-flex;
    text-align: center;
    padding: 5px;
    margin: 10px; }
    .container .menu .noti .noticias1 {
      padding: 5px;
      margin: 10px;
      height: 500px;
      overflow: auto; }

.container footer {
  text-align: center;
  font-size: 20px; }

h2 {
  font-size: 4rem;
  text-align: center;
  padding: 1rem; }

h3 {
  font-family: "alegreya";
  font-size: 3rem; }

h4 {
  font-family: "alegreya";
  font-size: 1rem;
  text-align: center;
  padding: 10px; }

footer {
  text-align: center;
  font-size: 20px;
  padding: 15px; }

@media only screen and (max-width: 530px) {
  .noti {
    display: block;
    font-size: 20px; }
  .menu li a {
    color: black;
    text-decoration: none;
    padding: 5px;
    background-color: #97d697;
    border-radius: 30%;
    font-size: 15px; }
  img.escudo {
    width: 300px; }
  img.portada {
    width: 300px;
    padding: 5px; }
  table {
    padding: 10px;
    font-size: 1rem;
    border-color: black; }
  footer {
    font-size: 10px; }
  img.rfoto {
    width: 350px; }
  div .history {
    padding: 5px;
    height: 350px;
    width: 350px;
    overflow: auto;
    font-size: 0.5rem; }
  fieldset {
    padding: 5px;
    margin: 5px;
    font-size: 15px;
    border-color: black;
    border-width: 2px;
    width: 350px;
    text-align: left; } }
