header{
    font-family: 'Markazi';
    font-size: 2rem;
    text-align: center;
    padding: 1px;
    margin: 5px;
    div.superior {
        padding: 1rem;
        background-color: black;
         opacity: .7;
    }
    .escudo{
        width: 500px;
        align-items: center;
    }
}
nav{
    text-align: center;
}
.menu{
    background-color: rgb(98, 151, 100);
    font-size: 25px;
    padding: 5px;
    margin: 10px auto;
    width: 85%;
    list-style-type: none;
    }
.men li{
    display: inline-block;
    position: relative;
    align-items: center;
    
    font-size: 25px;
}
.men li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    background-color: rgb(151, 214, 151);
    border-radius: 30%;
}
form{
    display: flex;
    position: relative;
    left: 40%;
    fieldset{
        div{
            textarea{
                width: 400px;
            }
        }
    }
}
@media only screen and (max-width: 530px)
    {
    .men li a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        padding: 5px;
        background-color: rgb(151, 214, 151);
        border-radius: 30%;
        font-size: 15px;
    }
    img.escudo{
        width: 250px;
    }
    img.portada{
        width: 200px;
        padding: 5px;
    }
    }
    main.cont{
        width: 350px;
    }
    form{
        width: 350px;
        position: relative;
        left: 10px;
        fieldset{
            padding: 2px;
            margin: 2px;
            font-size: 15px;
            border-color: rgb(0, 0, 0);
            border-width: 2px;
            width: 350px;
            text-align: center;
            textarea{
                width: 150px;
            }
            }
    }
    